/*
====================
Colors:
    yellow:       #f4c613
    grey:         #212226
    white smoke:  #f4f4f4
    white:        #fff
    black:        #000

=====================
*/
/*Preloader*/
#preloader{
   background-color:#fff;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index:9999;
}
#status{
    background-image: url("../img/preloader/preloader.gif");
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    position: absolute;
    left:50%;
    top:50%;
    margin-top: -35px;
    margin-left: -35px;
}